@model clinicasalvacion2020.Models.Ingresos

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <div class="card mx-auto d-block" style="width: 68%;">
        <div class="card-header  text-center">
            <h5 class="display-5">Regristrar Internamiento </h5>
        </div>

        <div class="card-body mx-auto d-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                <b>      @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "text-center " })</b>
                <div class="col-sm-8 mx-auto d-block">
                    @Html.EditorFor(model => model.fecha_inicio, new { htmlAttributes = new { @type = "date", @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
            </div>


            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                <b>     @Html.LabelFor(model => model.pacienteid, "Paciente", htmlAttributes: new { @class = "text-center " })</b>
                <div class="col-sm-8 mx-auto d-block">
                    @Html.DropDownList("pacienteid", null, htmlAttributes: new { @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.pacienteid, "", new { @class = "text-danger" })
            </div>

            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                <b>     @Html.LabelFor(model => model.habitacionesid, "Habitacion", htmlAttributes: new { @class = "text-center " })</b>
                <div class="col-sm-8 mx-auto d-block">
                    @Html.DropDownList("habitacionesid", null, htmlAttributes: new { @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.habitacionesid, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="card-footer text-muted">

            <div class="col-md-offset-2 col-md-10 mx-auto d-block">
                <input type="submit" value="Crear" class="btn btn-primary mx-auto d-block btn-default" style="width: 20%;" />
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function mensaje() {

            alert("Agregado con exito");
        }

    </script>
}
