@model IEnumerable<clinicasalvacion2020.Models.Ingresos>

@{
    ViewBag.Title = "Index";
}


<h2 class="text-center"><b>Internamientos</b></h2>

<br />
<p class="text-center">
    @Html.ActionLink("Registrar Internamiento", "Create", "ingresos", new { @class = "btn btn-primary mb-3" })
</p>

<table class="table table table-hover table-bordered shadow-sm p-3 mb-5 bg-white rounded table-bordered">
    <thead class="text-center table-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Pacientes.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitaciones.numero)
            </th>
        </tr>
    </thead>
    <tbody class="text-center table-light">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Habitaciones.numero)
                </td>

            </tr>
        }
    </tbody>
</table>
