@model clinicasalvacion2020.Models.Habitaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4 class="text-center">Destalle Habitacion</h4>
    <hr />
    <dl class="mx-auto d-block dl-horizontal">
        <dt class="text-center">
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
</div>

<div class="row">
    <div class="col-sm-6 mx-auto d-block">
        @Html.ActionLink("Regresar", "Index", "Pacientes", new { @class = "btn btn-danger" })
    </div>


    <div class="col-sm-6">
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    </div>
</div>
