@model clinicasalvacion2020.Models.Medico

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quieres eliminar este Medico?</h3>
<div>

    <hr />
    <dl class="dl-horizontal text-xl-center">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exequatur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exequatur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

    </dl>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions ">

    <div class="row">
        <div class="col-sm-2 mx-auto d-block">

            <input type="submit" value="Delete" class="btn btn-danger mx-auto d-block" />
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">

            @Html.ActionLink("Regresar", "Index", "Pacientes", new { @class = "btn btn-danger" })
        </div>
    </div>

</div>
    }
</div>