@model clinicasalvacion2020.Models.Medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4 class="text-center">Destalle Medico</h4>
    <hr />
    <dl class="mx-auto d-block dl-horizontal">

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Exequatur)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Exequatur)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd class="text-center">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

    </dl>
</div>

<div class="row">

    <div class="col-sm-2 mx-auto d-block">
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-warning mx-auto d-block" })
    </div>

</div>


<div class="row">
    <div class="col-sm-6 ">
        @Html.ActionLink("Regresar", "Index", "Medicos", new { @class = "btn btn-danger" })
    </div>
</div>