@model clinicasalvacion2020.Models.Medico

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <div class="card mx-auto d-block" style="width: 68%;">
        <div class="card-header  text-center">
            <h5 class="display-4">Editar Medico</h5>
        </div>

        <div class="card-body mx-auto d-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)


            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "text-center" })
                <div class="col-sm-8 mx-auto d-block">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                @Html.LabelFor(model => model.Exequatur, htmlAttributes: new { @class = "text-center" })
                <div class="col-sm-8 mx-auto d-block">
                    @Html.EditorFor(model => model.Exequatur, new { htmlAttributes = new { @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" } })
                    @Html.ValidationMessageFor(model => model.Exequatur, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ml-lg-5 col-md-10 mx-auto d-block text-center">
                @Html.LabelFor(model => model.Especialidad, htmlAttributes: new { @class = "text-center" })
                <div class="col-sm-8 mx-auto d-block">
                    @Html.EditorFor(model => model.Especialidad, new { htmlAttributes = new { @style = "background-color:#f2f2f2", @class = "mx-auto d-block form-control" } })
                    @Html.ValidationMessageFor(model => model.Especialidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="card-footer text-muted">

                <div class="col-md-offset-2 col-md-10 mx-auto d-block">
                    <input type="submit" value="Editar" class="btn btn-primary mx-auto d-block btn-default" style="width: 20%;" />
                </div>

            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Regresar", "Index", "Medicos", new { @class = "btn btn-danger" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
