@model IEnumerable<clinicasalvacion2020.Models.Medico>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"><b>Registro de Medicos</b></h2>


<br />
<p class="text-center">
    @Html.ActionLink("Registrar un nuevo Medico", "Create", "Medicos", new { @class = "btn btn-primary" })
</p>
<table class="table table table-hover table-bordered shadow-sm p-3 mb-5 bg-white rounded table-bordered">
    <thead class="text-center table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exequatur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="text-center table-light">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exequatur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Medicos", new { id = item.id }, htmlAttributes: new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalles", "Details", "Medicos", new { id = item.id }, htmlAttributes: new { @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", "Medicos", new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </tbody>
</table>
