<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/card.css")
    @Styles.Render("~/Content/bootstrap.min.js")
    @Styles.Render("~/Content/jquery.min.js")
    @Styles.Render("~/Content/popper.js")
    @Styles.Render("~/Content/main.js")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">Clinica Salvacion</a></h1>
                <ul class="list-unstyled components mb-5">

                    <li>@Html.ActionLink("Home", "index", "Home")</li>

                    <li class="active">


                        <a href="#Mantenimientos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mantenimientos</a>
                        <ul class="collapse list-unstyled" id="Mantenimientos">
                            <li>@Html.ActionLink("Paciente", "index", "Pacientes")</li>
                            <li>@Html.ActionLink("Medicos", "index", "Medicos")</li>
                            <li>@Html.ActionLink("Habitaciones", "index", "Habitaciones")</li>
                        </ul>
                    </li>
                    <li>

                        <a href="#Procesos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Procesos</a>
                        <ul class="collapse list-unstyled" id="Procesos">
                            <li>@Html.ActionLink("Cistas Medicas", "index", "Citas_Medicas")</li>
                            <li>@Html.ActionLink("Ingreso", "index", "ingresos")</li>
                            <li>@Html.ActionLink("Alta Medicas", "index", "Altamedicas")</li>

                        </ul>

                    </li>
                    <li>
                        <a href="#Consultas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Consultas</a>
                        <ul class="collapse list-unstyled" id="Consultas">
                            <li>@Html.ActionLink("Paciente", "pacinte", "MóduloConsultas")</li>
                            <li>@Html.ActionLink("Medico", "medico", "MóduloConsultas")</li>
                            <li>@Html.ActionLink("Habitacion", "habitacion", "MóduloConsultas")</li>
                            <li>@Html.ActionLink("Citas Medicas", "Citas_Médicas", "MóduloConsultas")</li>
                            <li>@Html.ActionLink("Ingreso", "ingresos", "MóduloConsultas")</li>


                        </ul>
                    </li>

                </ul>

            </div>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>
        <script>
            (function ($) {

                "use strict";

                var fullHeight = function () {

                    $('.js-fullheight').css('height', $(window).height());
                    $(window).resize(function () {
                        $('.js-fullheight').css('height', $(window).height());
                    });

                };
                fullHeight();

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });

            })(jQuery);
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
